* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background: url(files/block7-1cf.arb.jpg);
  margin: 10px auto;
  font-family: Raleway;
  padding: 18px;
  width: auto;
  min-width: 300px;
}

h1 {
  text-align: center;
}

/*input {
  padding: 10px;
  width: 280px;
  font-size: 17px;
  font-family: Raleway;
  border: 3px solid #aaaaaa;
}*/

input {position:relative;display:block;outline:0;border:0;margin:0 auto;width:100%;height:70px;line-height:70px;-webkit-border-radius:28px/27px;-moz-border-radius:28px/27px;border-radius: 10px;background-color:#fff;-webkit-box-shadow:inset 0 3px 7px rgba(0,0,0,.35);-moz-box-shadow:inset 0 3px 7px rgba(0,0,0,.35);box-shadow:inset 0 3px 7px rgba(0,0,0,.35);border:solid 1px #fff;font-size:20px;font-weight:300;margin-bottom: 1px;padding: 0 30px;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;appearance: none;}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.button-nou {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 17px 54px;
  font-size: 25px;
  font-family: Raleway;
  cursor: pointer;
  margin: 15px;
}

button:hover {
  opacity: 0.9;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

button{
    position: relative;
    display: block;
    width: 360px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #292929;
    margin: 20px auto;
    outline: none;
    border: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-shadow: 1px 1px 0px rgba(255,255,255,.2);
    background: #fccc7d;
    background-image: -webkit-linear-gradient(top, #fccc7d, #ffb344);
    background-image: -moz-linear-gradient(top, #fccc7d, #ffb344);
    background-image: -ms-linear-gradient(top, #fccc7d, #ffb344);
    background-image: -o-linear-gradient(top, #fccc7d, #ffb344);
    background-image: linear-gradient(to bottom, #10e219, #10e219);
    border-bottom: 4px solid #ff7000;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.25);
}
